.palette-display {
  background-color: aliceblue;
  display: flex;
  flex: 3;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
}

.palette-tiles {
  display: flex;
  justify-content: center;
}

.generate-new-palette-button {
  width: 150px;
  height: 40px;
  align-self: center;
}