

.full-palette {
  display: flex;
  align-items: center;
  justify-content: center;
}

p { 
  width: 80px;
  align-self: flex-start;
}

.project-tile {
  background-color:aliceblue;
  border: 1px dotted #037255;
  border-radius: 5px;
  margin: 8px;
  padding: 5px;
  width: 90%;
}

.project-palette {
  align-items: center;
  justify-content: center;
  border: 1px solid #037255;
  border-radius: 5px;
  display: flex;
  margin: 10px;
  width: 130px;
}

.project-palette-div {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin: 2px;
}

.project-palette-delete {
  height: 20px;
  width: 40px;
}

.project-delete:hover,
.project-palette-delete:hover {
  color: hotpink;
  font-weight: bold;
}

.project-delete:hover {
  font-size: 1.2em;
  padding: 8px;
}

.project-delete {
  border-radius: 15px;
  font-size: 1em;
  padding: 5px;
  margin: 5px;
  width: 150px;
}