@import url('https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap');

.project-display {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.app-heading {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 2.7em;
}